<%- include("../layouts/header") %>
<div class="container">

    <!--ส่วนแสดงตาราง (แสดงrecord ในดาต้าเบส)-->
    <div class="table-responsive">
      <table class="table">
        <thead class="table-danger">
        <tr>
          <th>ID</th>
          <th>TIME-CPU</th>
          <th>CORE-CPU</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
        <!--หัวตาราง-->
          <% if (data) { %> <% data.forEach(function(mild){ %>
          <tr>
            <td ><%= mild.id %></td>
            <td ><%= mild.time_cpu %></td>
            <td ><%= mild.core_cpu %></td>
            <td>
              <!-- <div style="float:left">
                <a href='/test/edit/<%= mild.id %>'>Edit</a> &nbsp;							
                <form method="delete" action="/delete/<%= mild.id %>" style="float:right">
                  <input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                  <input type="hidden" name="_method" value="DELETE" />
                </form>
              </div> -->
            </td>
          </tr>
          <% }) %> <% } %>
        <!--Record ตาราง-->
      </table>
    </div>
  </table>
</div>
<%- include("../layouts/footer") %>
